/* Game Screen */
.enemy {
    width: 15vh;
    height: 15vh;
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 2.5vh;
    border: 1px solid black;
  }
  
  .red-border{
    border: 1px solid red;
  }

  .blue-border{
    border: 1px solid blue;
  }
  .enemies {
    display: flex; 
    
  }
  
  .enemy:hover {
    cursor: pointer;
  }
  
  .birds{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h4{
    margin-bottom: -3vh;
  }
  
  /* Inventory */
  .inventory-bar {
    width: 100vw;
    height: 25vh;
    border-top: 1px solid black;
    position: fixed;
    display: inline;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
  }

  .info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 20vh;
    margin-left: -3vh;
    margin-right: 3vh;
  }

  .info:nth-child(1){
    margin-bottom: -5vh;
  }

  .inventory-btn {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inventory-attack-btn {
    height: 20vh;
    width: 20vh;
    margin: 2.5vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
  }
  .attack-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .attack-cost {
    font-size: 14px;
    margin-top: 5px; 
  }
  
  /* Health Bar */
  .personal-bar, .birds-eye-view{
    width: 15vw;
    height: 20px;
    border: 1px solid #000;
    background-color: #ccc;
  }

  .birds-eye-view{
    width: 15vh !important;
  }

  .personal-bar{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 4vh;
    margin-left: 2vh;
  }

  .birds-eye-view{
    position: relative;
  }

  .player-health{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0vh;
    margin-left: 2vh;
  }
  
  .health-bar-fill {
    height: 100%;
    background-color: green;
  }

  .health-bar-critical{
    height: 100%;
    background-color: rgb(235, 220, 1);
  }
  
  .health-bar-danger{
    height: 100%;
    background-color: rgb(190, 12, 6);
  }

  .birds-eye-view{
    position: relative !important;
  }